{% extends 'pet/base.html'%}

{% block contenido %}

<br>
<br>
<br>
<br>
<br>
<br>
{%load humanize%}
  <section id="cartas">
    <div class="container">
      <div class="row g-3">

        {% for p in productos%}
        {% if p.stock > 0%}

        <div class="col-12 col-md-6 col-lg-4">
          <div class="card">
           
           
              <img src="{{ p.imagen }}" class="card-img-top" alt="...">
             
            <div class="card-body">
              
              <h5 class="card-text">{{p.nombre_marca}}</p>

              <h2 class="card-text">{{p.nombre}}</p>

              <h3 class="card-text">{{p.descripcion}}</p>

              <h2 class="card-title">${{p.precio | intcomma}}</h5>

            </div>


          <div class="card-footer">
              <small class="text-muted">              
                <button data-producto={{producto.id}} data-action="add" href="#" class="btn btn-primary actualizar-carrito">Añadir al carrito</button>
              </small>
          </div>
         
        </div>
      </div>
      {% endif %}
      {% endfor%}
   
  </section>


{% endblock %}

