#fondo{
    margin: 0;
    background-color: #D9D7F1;
    font-family:roboto,sans-serif;
}

button{
    font: size 1.5em;
    font-weight: bold;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color:#FF2442;
}
button:hover{
    background-color:#f84c63;
}

.contenedor{
    max-width: 1400px;
    margin: 0 auto;
}

header {
    color: white;
    background-color:black;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size:1.5em;
}

header .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;

}
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #E7FBBE;
}

header a:hover{
    color: #D9D7F1;
}




#ofertas .contenedor{
    width: 100%;
}

.oferta:first-child{

}

.oferta:nth-child(2){

}

.oferta:nth-child(3){
    
}

#quienes-somos .contenedor{
    text-align: center;
    padding: 100px 12px
    ;

}

#contactenos .contenedor{
    text-align: center;
    padding: 100px 12px
    ;
}

footer{
    background-color:rgba(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}