{% extends 'pet/base.html'%}

{% block js %}

<script>
    
</script>


{% endblock %}




{% block contenido %}
{% load humanize %}
<br><br><br><br><br>
<div class="card">

    <div class="card-body">
        <h2>Listado de productos</h2>
        <hr>
        <div class="table-responsive">
                <table class="table table-secondary table-striped table-hover">
                    <thead class="table-dark">
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </thead>
                    {% for p in productos %}

                    <tr>
                        <td>{{ p.nombre | title}}</td>
                        <td>{{ p.precio | intcomma}}</td>
                        <td>{{ p.marca | title}}</td>
                        <td>{{ p.descripcion | title}}</td>
                        <td>
                            
                            <a href="{%url 'modificar_producto' p.id%}" class="btn btn-info btn-sm">modificar</a>
                            <a href="{%url 'eliminar_producto' p.id%}" class="btn btn-danger btn-sm">eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
    </div>
    
</div>
{% endblock %}